*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Rubik", sans-serif;
  color: #464442;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh 40vw repeat(4, min-content);
  grid-template-columns: [sidebar-start] 12rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.section__nav {
  background-color: #fab95b;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  padding: 10rem 0 0 1.5rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  display: grid; }

.side-nav__item {
  position: relative; }

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem; }

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%; }

.side-nav__item:active::before {
  background-color: #e8e2db; }

.side-nav__link:link,
.side-nav__link:visited {
  color: #1a3263;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 0.2rem;
  position: relative;
  z-index: 10; }

.section__header {
  background-color: #1a3263;
  grid-column: full-start / full-end; }

.section__about-pictures {
  background-color: red;
  grid-column: full-start / col-end 4; }

.section__about-content {
  background-color: aqua;
  grid-column: col-end 4 / full-end; }

.section__skills {
  background-color: lightcyan;
  grid-column: center-start / center-end; }

.section__my-work {
  background-color: orange;
  grid-column: center-start / center-end; }

.section__testimonials {
  background-color: gray;
  grid-column: center-start / center-end; }

.section__contact {
  background-color: aqua;
  grid-column: full-start / full-end; }

.section__footer {
  background-color: yellow;
  grid-column: sidebar-start / full-end; }
