.section__contact {
  // background-color: aqua;
  grid-column: full-start / full-end;

  padding: 15rem 0;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-secondary-light
  );
}

.contact {
  background-image: linear-gradient(
      105deg,
      rgba(#fff, 0.9) 0%,
      rgba(#fff, 0.9) 50%,
      transparent 50%
    ),
    url(../img/stream.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

  // height: 50rem;
}

.contact__form {
  width: 50%;
  padding: 6rem;
}

.form {
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba($color-secondary-light, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid $color-primary;
}

.form__input:focus:invalid {
  border-bottom: 3px solid $color-secondary;
}

.form .form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

// .form {
//   &__group:not(:last-child) {
//     margin-bottom: 2rem;
//   }
// }

// .form__input {
//   font-size: 1.5rem;
//   font-family: inherit;
//   color: inherit;
//   padding: 1.5rem 2rem;
//   border-radius: 2px;
//   background-color: rgba($color-primary, 0.5);
//   border: none;
//   border-bottom: 3px solid transparent;
//   width: 90%;
//   display: block;
//   transition: all 0.3s;

//   // @include respond(tab-port) {
//   //   width: 100%;
//   // }
// }

// .form__input:focus {
//   outline: none;
//   box-shadow: 0 1rem 2rem rgba($color-gray-dark-2, 0.1);
//   border-bottom: 3px solid $color-primary;
// }

// .form__input:focus:invalid {
//   border-bottom: 3px solid $color-secondary;
// }

// .form__input::-webkit-input-placeholder {
//   color: $color-gray-dark-2;
// }

// .form__label {
//   font-size: 1.2rem;
//   font-weight: 700;
//   margin-left: 2rem;
//   margin-top: 0.7rem;
//   display: block;
//   transition: all 0.3s;
// }

// .form__input:placeholder-shown + .form__label {
//   opacity: 0;
//   visibility: hidden;
//   transform: translateY(-4rem);
// }

// .form__radio-group {
//   width: 49%;
//   display: inline-block;

//   // @include respond(tab-port) {
//   //   width: 100%;
//   //   margin-bottom: 2rem;
//   // }
// }

// .form__radio-input {
//   display: none;
// }

// .form__radio-label {
//   font-size: $font-primary;
//   cursor: pointer;
//   position: relative;
//   padding-left: 4.5rem;
// }

// .form__radio-button {
//   height: 3rem;
//   width: 3rem;
//   border: 5px solid $font-primary;
//   border-radius: 50%;
//   display: inline-block;
//   position: absolute;
//   left: 0;
//   top: -0.4rem;

//   .form__radio-button::after {
//     content: "";
//     display: block;
//     height: 1.3rem;
//     width: 1.3rem;
//     border-radius: 50%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: $color-primary;
//     opacity: 0;
//     transition: opacity 0.2s;
//   }
// }

// .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
//   opacity: 1;
// }
