.section__nav {
  background-color: $color-secondary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  padding: 10rem 0 0 1.5rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;

  display: grid;
  grid-row-gap: 4rem;
}
